<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                template="./../templates/template.xhtml"
                xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui">

    <ui:define name="top">
        <h3>Crear un nuevo Pedido</h3>
        <h:form>
            <h:outputText value="Usuario: " style="font-weight:bold" />
                <h:outputText value="#{pedidoBean.usuario}"/>
                <br/>
                <h:commandLink action="#{pedidoBean.cerrarSesion()}">Cerrar Sesión</h:commandLink>
        </h:form> 
    </ui:define>

    <ui:define name="content">
        <f:view>
            <h:form>
                <p:growl id="msgs" showDetail="true" />
<!--                <center>-->
                <h1><h:outputText value="Ingrese los datos"/></h1>
                <h:panelGrid columns="2">
                    <h:outputLabel value="Nombre del Cliente:" for="nombreCliente" />
                    <p:inputText id="nombreCliente" value="#{pedidoBean.pedido.nombreCliente}" size="24" title="NombreCliente" 
                                 required="true" requiredMessage="El Nombre del Cliente es requerido."/>
                    <h:outputLabel value="N° Identidad del Cliente:" for="idCliente" />
                    <p:inputMask  id="idCliente" value="#{pedidoBean.idCliente}" title="IdCliente" size="24"
                                 required="true" requiredMessage="N° Identidad del Cliente requerido."
                                 mask="9999-9999-99999"/>                                        
                    <h:outputLabel value="Fecha:" for="fecha" />
                    <p:calendar id="fecha" value="#{pedidoBean.pedido.fecha}" size="24" pattern="dd/MM/yyyy" readonlyInput="true"/>                    
                    <h:outputLabel value="Peso (Kg):" for="peso" />
                    <p:inputNumber id="peso" value="#{pedidoBean.pedido.peso}" title="Peso" decimalPlaces="3"
                                 required="true" requiredMessage="El Peso de lca carga es requerido." 
                                 decimalSeparator="." thousandSeparator="," symbol="Kg" symbolPosition="s" size="24"/>                                                          
                    <h:outputLabel value="Destino:" for="destino" />
                    <p:selectOneMenu id="destino" value="#{pedidoBean.idDestino}" style="width:125px">
                        <f:selectItem itemLabel="Seleccione un destino...." itemValue="" noSelectionOption="true" />
                        <f:selectItems value="#{pedidoBean.destinos}" var="d" itemLabel="#{d.descripción}" 
                                itemValue="#{d.id}"/>
                        <p:ajax update="carro" listener="#{pedidoBean.destinoCambio()}"/>
                    </p:selectOneMenu>
                    <h:outputLabel value="Carro:" for="carro" />
                    <p:selectOneMenu id="carro" value="#{pedidoBean.placa}" autoWidth="true" >
                        <f:selectItem itemLabel="Seleccione un vehículo..." itemValue="" />
                        <f:selectItems value="#{pedidoBean.carrosPorDestino}" var="cc" itemLabel="#{cc.placa}" 
                               itemValue="#{cc.placa}"/>
                    </p:selectOneMenu>                                        
                    <h:outputLabel value="Precio:" for="precio"  />                    
                    <p:inputNumber id="precio" converter="#{Double}" value="#{pedidoBean.pedido.precio}" 
                                 title="Precio" required="true" requiredMessage="El Precio es requerido."
                                 decimalSeparator="." thousandSeparator="," size="24" symbol="Lps. " symbolPosition="p"
                                 decimalPlaces="2"/>                    
                    <p:separator/>
                    <p:separator/>                     
                    <p:commandButton value="Guardar"  icon="ui-icon-circle-plus" ajax="false" action="#{pedidoBean.guardarPedido}"/>
                    <p:commandButton value="Cancelar" immediate="true" icon="ui-icon-arrowreturnthick-1-w" action="#{pedidoBean.cancelar}" />
                </h:panelGrid>
                <br/>                
                <h:panelGrid columns="2">
                    
                </h:panelGrid>                
                <!--</center>-->
            </h:form>
        </f:view>
    </ui:define>

</ui:composition>
